@media (min-width: 800px) {
    .search {
        display: flex;
    }

    .search-icon {
        display: none;
    }
}

@media (max-width: 800px) {
    .search {
        display: none;
    }

    .search-icon {
        display: block;
    }
}
