:root {
    /* -- LIGTH THEME -- */
    --light-navbar-background-color: rgba(244, 244, 244, 1);
    --nav-bar-ligth-color-icons: #646464;
    --nav-bar-ligth-color-text-primary: #000000;
    --nav-bar-ligth-color-text-secondary: #787878;
    --main-light-bg: rgba(230, 230, 230, 1);
    --light-aside-background-color: rgba(255, 255, 255, 1);

    /* -- NIGHT THEME -- */
    --dark-body: #151518;
    --dark-navbar-background-color: transparent;
    --dark-navbar-color: #536867;

    --dark-aside-background-color: transparent;
    --dark-aside-line: #181a1;
    --dark-aside-color: #809794;

    --dark-main-background: #1a1a1d;
    --dark-content-border: #252528;
}
